@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-display: swap;
}
html {
  height: 100%;
}
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: "PT Sans" sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #FFFFFF;
  color: black;
}

/* Header */
.page-header {
  background-color: #FFFFFF;
  color: black;
}
/* navigation */
.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}
.navigation-list {
  margin: 0;
  padding: 0;
  width: 510px;
}
.navigation-user-menu {
  max-width: 270px;
  margin-left: auto;
}
.navigation-link {
font-family: "PT Sans";
font-size: 20px;
line-height: 24px;
font-weight: 700;
text-decoration: none;
color: black;
background-color: #FFFFFF;
text-align: left;
}
.navigation-item {
list-style-type: none;
}
.navigation-button {
  background-color: #756157;
  color: #FFFFFF;
  border-radius: 4px;
  padding: 8px 50px;
}
/* main-background*/

.page-container {
width: 1200px;
margin: 0 auto;
}
.main-container {
  flex-grow: 1;
}
.greetings-logo {
  display: block;
  margin: 0 auto;
}
.main-container {
  flex-grow: 1;
}
.main-index {
  font-family: "PT Sans";
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: black;
  background-color: #FFFFFF;
  background-repeat: no-repeat;
  width: 1200px;
  margin: 0 auto;
  background-size: 100% auto;
}
.greetings-promo {
  background-image: url("../images/index-background.jpg");
  height: 485px;


}
/* all-big-titles-layout */
.big-titles-layout {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: black;
  text-align: center;
  text-transform: uppercase;
}
.greetings-description-advantages {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: black;
  text-align: center;
}
/* Section-Advantages and services*/

.advantages-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.advantages-item.sedona-town {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.advantages-item.sedona-bridge {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 100%;
}

.services-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.advantages-title,
.services-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}
.advantages-item {
  list-style-type: none;
  width: 400px;
}

.advantages-description,
.services-leave {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}
.services-item {
  list-style-type: none;
}
.advantages-background {
  width: 400px;
  height: 384px;
}
.sedona-town,
.sedona-bridge {
  background-color: #82B3D3;
  color: #FFFFFF;
}
.attraction,
.tourists,
.souvenirs,
.leave {
  background-color: #83b3d31f;
  color: black;
}
.beautiful-road {
  background-color: #83b3d333;
  color: black;
}
.food {
  background-color: #FFFFFF;
  color:black
}
/* Section-search-hotel */
.searching {
  display: flex;
  text-align: center;
  width: 592px;
  margin: 96px 304px;
}
.font-styles {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}
.button-search-hotel {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  background-color: #756157;
  padding: 8px 50px;
  border-radius: 4px;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
}
.buttons-hotel {
  margin-top: 62px;
}
/* Section-subscribe */
.subscribe-background {
  background-image: url("../images/subcribe_background_blur.jpg");
  /* padding-top: 96px;
  padding-left: 258px;
  padding-right: 104px;
  padding-bottom: 258px; */
  width: 1200px;
  height: 414.86px;
  background-size: 100% auto;
  background-color: black;
}
.subscribe-title {
  color: #FFFFFF;
  /* text-align: left; */
}
.subscribe-information {
  color: #FFFFFF;
}
.button-subscribe {
  background-color: #82B3D3;
  color: #FFFFFF;
  border-radius: 4px;
}
.subscribe-form {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0 auto;
  width: 684px;
}
/* page-footer */
.footer-social-item {
  list-style-type: none;
}
/* section-contacts */
.page-footer-container {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  height: 120px;
}
.footer-social {
  width: 142px;
  margin-right: auto;
}
.footer-contacts {
  width: 331px;
}
.footer-htmlacademy-logo {
  width: 115px;
  margin-left: auto;
  height: 32.9px;
}
.footer-contacts-phone {
text-decoration: none;
font-weight: 400;
font-size: 40px;
line-height: 40px;
color: black;
}
